@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* color: #007bff; */
body {
    padding: 0;
    margin: 0;
    background: #151515;
    box-sizing: border-box;
}
/* header */
header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #151515;
    border-bottom: 0.1px solid #312929;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.icon {
    display: flex;
    align-items: center;
}
.icon-elite {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 6px 16px;
}
.icon > span {
    color: #eee;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.nav-bar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.nav-bar ul li {
    padding: 21px 12px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.nav-item a {
    text-decoration: none;
    /* padding: 20px; */
    color: #eee;
    font-size: 1em;
}
.nav-item:hover {
    background: #0b0b0b;
}
/* EliteOS heading */
#heading > h1 {
    text-align: center;
    color: #ddd;
    margin: 42px;
    font-family: 'Raleway', sans-serif;
}
#heading > h3 {
    text-align: center;
    color: #ddd;
    margin-bottom: 42px;
    font-family: 'Raleway', sans-serif;
}
/* button tag using flex */
.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-center > button {
    color: #28059C;
    background: #2D84DC;
    font-size: 1em;
    padding: 16px;
    border: 0px;
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
/* Team elite */
#team-elite > h1 {
    text-align: center;
    color:  #2D84DC;
    font-size: 64px;
    font-weight: normal;
    margin: 192px 0 32px 0;
    font-family: 'Raleway', sans-serif;
}
#team-elite > hr {
    width: 128px;
    height: 3px;
    background: #2D84DC;
    border-radius: 12px;
    margin-bottom: 42px;
    border: none;
}
#team-elite > h3 {
    color: #585858;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
/* team elite persons */
#meet-team > h1 {
    text-align: center;
    color:  #2D84DC;
    font-size: 64px;
    font-weight: normal;
    margin: 192px 0 32px 0;
    font-family: 'Raleway', sans-serif;
}
#meet-team > hr {
    width: 128px;
    height: 3px;
    background: #2D84DC;
    border-radius: 12px;
    margin-bottom: 42px;
    border: none;
}
#meet-team > h3 {
    color: #585858;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* TEAM MEMBERS */
#team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: 1rem auto;
}

@media only screen and (max-width: 960px) {
    #team-members {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem auto;
    }
}

#team-members > .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; 
    margin-left: 2rem; 
    /* background: #fff; */
    color: #eee;
    overflow: hidden;
    font-weight: lighter;
    letter-spacing: 0.1em;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

.set-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 24px;
}
.person > #button {
    display: flex;
    justify-content: space-evenly;
    margin: 12px;
}
.fa {
    border-radius: 50%;
    margin: 0 8px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0059ff;
} 

/* Contributors */
#contributors > h1 {
    text-align: center;
    color:  #2D84DC;
    font-size: 64px;
    font-weight: normal;
    margin: 192px 0 32px 0;
    font-family: 'Raleway', sans-serif;
}
#contributors > hr {
    width: 128px;
    height: 3px;
    background: #2D84DC;
    border-radius: 12px;
    margin-bottom: 42px;
    border: none;
}
#contributors > h3 {
    color: #585858;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#contributor-member {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: 1rem auto;
}
#contributor-member > .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; 
    margin-left: 2rem; 
    /* background: #fff; */
    color: #eee;
    font-weight: lighter;
    letter-spacing: 0.1em;
    overflow: hidden;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

/* download */
#download > h1 {
    text-align: center;
    color:  #2D84DC;
    font-size: 64px;
    font-weight: normal;
    margin: 192px 0 32px 0;
    font-family: 'Raleway', sans-serif;
}
#download > hr {
    width: 128px;
    height: 3px;
    background: #2D84DC;
    border-radius: 12px;
    margin-bottom: 42px;
    border: none;
}
#download > h3 {
    color: #585858;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#download > .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
}

/* Report bugs */
#report > h1 {
    text-align: center;
    color:  #2D84DC;
    font-size: 64px;
    font-weight: normal;
    margin: 192px 0 32px 0;
    font-family: 'Raleway', sans-serif;
}
#report > hr {
    width: 128px;
    height: 3px;
    background: #2D84DC;
    border-radius: 12px;
    margin-bottom: 42px;
    border: none;
}
#report > h3 {
    color: #585858;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#report > .bug-report {
    color: #ddd;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#support > h1 {
    text-align: center;
    color:  #2D84DC;
    font-size: 64px;
    font-weight: normal;
    margin: 192px 0 32px 0;
    font-family: 'Raleway', sans-serif;
}
#support > hr {
    width: 128px;
    height: 3px;
    background: #2D84DC;
    border-radius: 12px;
    margin-bottom: 42px;
    border: none;
}
#support > h3 {
    color: #585858;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#support > #payment  {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#support > #payment > .paytm > h3,
#support > #payment > .paypal > h3 {
    color: #ddd;
    font-family: 'Raleway', sans-serif;
}
#final {
    margin: 186px;
}
#final > h3 {
    text-align: center;
    color: #585858;
    font-family: 'Raleway', sans-serif;
}
#final > #button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
}